@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  * {
    box-sizing: border-box;
  }

  ::selection {
    background-color: rgb(139 92 246 / 0.25);
    color: inherit;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(139 92 246 / 0.4);
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(139 92 246 / 0.7);
  }
}

@layer utilities {
  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}
